[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e904";
}
.icon-list2:before {
  content: "\e905";
}
.icon-loupe:before {
  content: "\e907";
}
.icon-loupe2:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-tag:before {
  content: "\e90a";
}
.icon-tag2:before {
  content: "\e90b";
}
