.widget {
    width: 100%;
    min-width: 170px;
    list-style-type: none;
    border: 1px solid $border-color;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    margin-bottom: 15px;

    ul {
        padding: 2px 5px;

        li {
            margin-bottom: 0;
        }

        a {
            color: $dark-300;
            font-size: 13px;

            &:hover {
                color: #666;
            }
        }

        .current-cat {

            a {
                color: #666;
            }
        }
    }
}

.widgettitle {
    background-color: $dark-600;
    font-size: 16px;
    color: $dark-700;
    padding: 15px 15px;
    font-weight: 600;

    @include media-breakpoint-up(md) {
        padding: 11px 20px 15px;
    }
}

.widget-block {

    @include media-breakpoint-up(sm) {
        width: 30%;
    }

    @include media-breakpoint-up(md) {
        width: 239px;
    }
}