.btn {
    font-size: em(18);
    font-weight: 500;
    letter-spacing: -.02em;
    transition: all .15s ease;
    cursor: pointer;
    z-index: 99;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

.btn-link {
    min-width: auto;
    border-radius: 0;
    border-width: 0;
    padding: 0;
    letter-spacing: -.01em;
    text-transform: none;

    &:before {
        cursor: pointer;
    }

    &:hover {
        opacity: .75;
    }
}

.btn-lg {
    @include button-size(14px 0, 14px 0, em(20, 18), 1, 0);
    min-width: 240px;
}

.btn-md {
    @include button-size(14px 0, 14px 0, em(18, 18), 1, 0);
    min-width: 215px;
}

.btn-lsm {
    @include button-size(9px 0, 8px 0, em(14), 1, 0);
    min-width: 139px;
}

.btn-sm {
    @include button-size(10px 0, 9px 0, em(16, 18), 1, 0);
    min-width: 128px;
}

.btn-xs {
    @include button-size(7px 0, 6px 0, em(11, 18), 1, 4px);
    min-width: 74px;
}

.btn-xm {
    @include button-size(8px 0, 8px 0, em(12, 18), 1, 0);
    min-width: 33px;
    color: $secondary-color;

    &:before {
        font-size: em(16);
    }
}

.btn-primary-bordered {
    border: 1px solid $primary-color;
    background: transparent;
    border-radius: 8px;
    color: $primary-color;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: $primary-color;
    }
}

.btn-grey {
    border: 1px solid #747581;
    background: url($path-images + 'icons/arrow.png') left 10px center no-repeat;
    border-radius: 4px;
    color: #747581;
    
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: #747581 url($path-images + 'icons/arrow-white.png') left 10px center no-repeat;
    }
}
