.container-gapped {
    margin-top: 30px;
    margin-bottom: 30px;
}

.inner-gap {
    padding: $brand-inner-gap;
}

.inner-gap-sides {
    padding: 10px $brand-inner-gap;
}

.border-radius {
    border-radius: $brand-border-radius;
}

.border-radius-t {
    border-top-left-radius: $brand-border-radius;
    border-top-right-radius: $brand-border-radius;
}

.border-radius-b {
    border-bottom-left-radius: $brand-border-radius;
    border-bottom-right-radius: $brand-border-radius;
}

.jumbotron {
    padding-top: 48px;
    min-height: 313px;
}

section {
    position: relative;
}

.section-articles {
    min-width: 100%;
}

.offers-list {

    & > .row {
        margin-left: -8px;
        margin-right: -8px;

        .custom-col {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.item-offer-holder {
    color: $default-text-color !important;
    text-decoration: none !important;
}

.item-offer {
    position: relative;
    min-width: auto;
    height: 100%;
    padding: 13px;
    box-shadow: 0 3px 6px rgba($black, .16);
    border-radius: 6px;
    background: #fff;
    color: $dark-700;
    letter-spacing: -.03em;
    transition: box-shadow .15s;

    &:hover {
        box-shadow: 0 3px 15px rgba($black, .16);
    }

    &.sticky,
    &.category-featured {

        .featured {
            opacity: 1;
        }
    }

    strong,
    b {
        font-weight: 500;
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .item-body {
        flex-grow: 1;
    }

    .column-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        padding: 2px 0 4px;
    }

    .img-holder {
        border: 1px solid $border-color;
        height: 92px;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            height: 74px;
            padding: 10px !important;
        }

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .item-bottom {
        position: relative;
        padding: 5px 30px 0 0;
    }

    .item-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .offer-code {
        margin-left: 5px;
        color: $primary-color;
    }

    .tags {

        a {
            font-weight: 500;
        }
    }

    .deal-modal-button {
        position: absolute;
        right: 16px;
        bottom: 16px;
        margin: 0;
        padding: 0;
        color: #b1b1b3;
        border: none;
        background: none;
        font-size: 16px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    .featured {
        font-weight: 700;
        color: #ffc400;
        font-size: 15px;
        text-transform: uppercase;
        opacity: 0;

        @include media-breakpoint-down(sm) {
            font-size: 13px;
        }

        .icon {
            font-size: 18px;
            margin-left: 10px;

            @include media-breakpoint-down(sm) {
                font-size: 15px;
            }
        }
    }

    .time {
        color: #a4185e;
        justify-content: flex-end;
        font-size: 13px;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(xl) {
            font-size: 12px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 11px;
        }

        .icon {
            margin: 0 0 0 5px;
            color: #231f20;
            font-size: 17px;

            @include media-breakpoint-down(sm) {
                font-size: 15px;
            }
        }

        .countdown-section {

            &:not(:first-child) {
                padding-left: 4px;
            }
        }

        .countdown-descr {
            padding-left: 3px;
        }
    }
}

.top-categories {
    margin: 0 0 5px;

    & > .row {
        margin-left: -8px;
        margin-right: -8px;

        .custom-col {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .item {
        display: block;
        margin: 0 0 10px;

        &:hover {
            text-decoration: none;
            
            .title {
                color: black;
                box-shadow: 0 3px 15px rgba(black, .16);
            }
        }

        .image-block {
            padding-bottom: 35%;
            background-size: cover;
            background-position: 50%;
            border-radius: 6px 6px 0 0;
        }

        .title {
            box-shadow: 0 3px 6px rgba(black, .16);
            text-align: center;
            padding: 9px 15px;
            font-weight: 700;
            font-size: 21px;
            line-height: 1.1;
            border-radius: 0 0 6px 6px;
            color: $primary-color;
            letter-spacing: -.04em;
            transition: box-shadow .15s;

            @include media-breakpoint-down(sm) {
                font-size: 15px;
            }
        }
    }
}

.curent-category-description {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.no-posts {
    margin-top: 50px;
    font-size: em(24);
}

.item-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 3px;
}

.subtitle-bottom {
    margin-bottom: 15px;
}

.filter-bar-holder {
    padding-top: 80px;

    @include media-breakpoint-down(sm) {
        padding-top: 85px;
    }

    .filter-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 26px 30px;
        background: #f4f4f4;
        border-bottom: 1px solid #D8D8D9;

        @include media-breakpoint-down(sm) {
            padding: 18px 20px;
        }

        .settings-item {

            ul {

                li {
                    padding: 0;

                    ul {
                        display: none;
                    }
                }
            }

            .dropdown-toggle {
                display: flex;
                align-items: center;
                color: $dark-400;
                font-weight: 500;
                font-size: 14px;
                padding: 0;
                cursor: pointer;

                @include media-breakpoint-down(sm) {
                    font-size: 10px;
                    flex-direction: column;
                }

                &:hover {
                    text-decoration: none;
                    color: $primary-color;

                    &:before {
                        background: url('#{$path-images}icons/settings-on.svg') no-repeat;
                    }
                }

                &:after {
                    display: none;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 29px;
                    height: 29px;
                    margin: 0 10px 0 0;
                    background: url('#{$path-images}icons/settings.svg') no-repeat;

                    @include media-breakpoint-down(sm) {
                        margin: 0 0 10px;
                    }
                }
            }

            .dropdown-menu {
                left: auto !important;
                right: 0;
                transform: none !important;
                margin: -1px -1px 0 0;
                padding: 13px 20px 17px;
                min-width: 238px;
                border-radius: 0;
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
                border: 1px solid #707070;
                background-color: #fff;

                &.show {

                    ul {
                        display: block;
                    }
                }

                .title {
                    font-size: 14px;
                    font-weight: 700;
                    display: block;
                    margin: 0 0 17px;
                }

                li {
                    display: block;
                    color: black;
                    text-decoration: none;
                    padding: 0;

                    &:first-child {
                        display: none;
                    }

                    &:not(:last-child) {
                        margin-bottom: 11px;
                    }
                    
                    &.sf-option-active {

                        label {

                            &:before {
                                display: block;
                            }
                        }
                    }
                }

                input {
                    display: none;
                }

                label {
                    display: block;
                    position: relative;
                    padding: 0;
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 400;
                    cursor: pointer;

                    &:hover {

                        &:before {
                            display: block;
                        }
                    }

                    &:after {
                        content: '';
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 2px solid #707070;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:before {
                        content: '';
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;
                        background: #707070;
                        position: absolute;
                        right: 4px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: none;
                    }
                }
            }
        }

        .sf-field-sort_order {
            display: none;
        }

        .menu-holder {

            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                li {
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        margin-right: 50px;

                        @include media-breakpoint-down(sm) {
                            margin-right: 42px;
                        }
                    }

                    &:nth-child(2) {

                        a {

                            &:before {
                                background: url('#{$path-images}icons/search.svg') no-repeat;
                            }

                            &:hover {

                                &:before {
                                    background: url('#{$path-images}icons/search-on.svg') no-repeat;
                                }
                            }
                        }

                        &.current-menu-item {

                            a {
                                &:before {
                                    background: url('#{$path-images}icons/search-on.svg') no-repeat;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {

                        a {

                            &:before {
                                background: url('#{$path-images}icons/tag.svg') no-repeat;
                            }

                            &:hover {

                                &:before {
                                    background: url('#{$path-images}icons/tag-on.svg') no-repeat;
                                }
                            }
                        }

                        &.current-menu-item {

                            a {
                                &:before {
                                    background: url('#{$path-images}icons/tag-on.svg') no-repeat;
                                }
                            }
                        }
                    }

                    &:hover {

                        a {
                            color: $primary-color;
                        }
                    }

                    &.current-menu-item {

                        a {
                            color: $primary-color;

                            &:before {
                                background: url('#{$path-images}icons/home-on.svg') no-repeat;
                            }
                        }
                    }
                }

                a {
                    position: relative;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1;
                    color: $dark-400;
                    padding: 6px 0 6px 37px;
                    font-family: $default-font-family;
                    z-index: 1;
                    transition: none;

                    @include media-breakpoint-down(sm) {
                        padding: 37px 0 0;
                        font-size: 10px;
                        font-weight: 500;
                    }

                    &:before {
                        content: '';
                        background: url('#{$path-images}icons/home.svg') no-repeat;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);

                        @include media-breakpoint-down(sm) {
                            top: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                    }

                    &:hover {

                        &:before {
                            background: url('#{$path-images}icons/home-on.svg') no-repeat;
                        }
                    }
                }
            }
        }
    }
}


.sort-block {
    padding: 8px 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .title {
        font-weight: 700;
        margin-right: 10px;
    }

    .searchandfilter {

        ul {

            li {
                display: flex;
                align-items: center;
                padding: 0;
            }

            .sf-field-tag {
                display: none;
            }
        }

        h4 {
            opacity: 0;
        }

        .sf-input-select {
            min-width: 263px;
        }

        .sf-field-sort_order {

            ul {
                display: none;
            }
        }

        .dropdown-toggle {
            font-weight: 700;
            line-height: 1;
            font-size: 15px;
            color: black;
            padding: 9px 30px 9px 15px;
            border-radius: 3px;
            border: 1px solid #b1b1b3;
            min-width: 260px;
            opacity: 1;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                min-width: 226px;
            }

            &:after {
                content: '\e900';
                font-family: $icomoon;
                font-size: 14px;
                color: #b1b1b3;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border: none;
                height: auto;
                width: auto;
            }
        }

        .dropdown-menu {
            left: auto!important;
            right: 0!important;
            transform: none!important;
            margin: -1px -1px 0 0;
            padding: 13px 20px 17px;
            min-width: 261px;
            border-radius: 0;
            box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
            border: 1px solid #707070;
            background-color: #fff;

            &.show {

                ul {
                    display: block;
                }
            }

            li {
                
                display: block;
                color: black;
                text-decoration: none;
                padding: 0;

                &:not(:last-child) {
                    margin-bottom: 11px;
                }

                &:first-child {
                    display: none;
                }
                
                &.sf-option-active {

                    label {

                        &:before {
                            display: block;
                        }
                    }
                }
            }

            input {
                display: none;
            }

            label {
                display: block;
                position: relative;
                padding: 0;
                font-size: 14px;
                line-height: 19px;
                font-weight: 400;
                cursor: pointer;

                &:hover {

                    &:before {
                        display: block;
                    }
                }

                &:after {
                    content: '';
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    border: 2px solid #707070;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:before {
                    content: '';
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background: #707070;
                    position: absolute;
                    right: 4px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                }
            }
        }
    }
}

.archive {

    &.tag {

        .filter-bar-dropdown-cont {

            li {

                &:first-child {
                    display: block;
                }
            }
        }
    }
}

.tags-holder,
.category-holder {
    color: $dark-700;

    span {
        font-weight: 500;
    }

    a {
        color: $dark-700;
        text-decoration: none;
        margin-left: 5px;

        &:hover {
            color: $primary-color;
        }
    }
}

.widget {
    margin-bottom: 0;
    border: 1px solid #cecece;

    ul {

        li {

            a {
                color: #666;
                text-decoration: none;
            }
        }
    }

    &.widget_categories {

        ul {
            display: flex;
            flex-direction: column;

            li:nth-child(1) {
                order: 2;
            }

            li:nth-child(2) {
                order: 1;
            }

            li:nth-child(3) {
                order: 3;
            }

            li:nth-child(4) {
                order: 4;
            }

            li:nth-child(5) {
                order: 5;
            }

            li:nth-child(6) {
                order: 6;
            }

            li:nth-child(7) {
                order: 7;
            }

            li:nth-child(8) {
                order: 8;
            }

            li:nth-child(9) {
                order: 9;
            }

            li:nth-child(10) {
                order: 10;
            }

            li:nth-child(11) {
                order: 11;
            }
        }
    }
}

.hero-slider {
    position: relative;
    margin: 0 5px;

    img {
        width: 100%;
        height: auto;
    }

    .owl-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        transition: all .15s ease;

        &:hover {
            opacity: 1;
        }

        button {

            &.owl-prev,
            &.owl-next {
                position: absolute;
                top: 0;
                width: 50px;
                height: 100%;
                color: #fff;
                font-size: 40px;
                text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
                background: transparent;
                transition: all .15s ease;

                &:hover, 
                &:focus,
                &:active {
                    outline: none;
                }
            }

            &.owl-prev {
                    
                &:hover {
                    background: linear-gradient(-90deg, rgba(0, 0, 0, .0001), rgba(0, 0, 0, .3));
                }
            }

            &.owl-next {
                
                &:hover {
                    background: linear-gradient(90deg, rgba(0, 0, 0, .0001), rgba(0, 0, 0, .3));
                }
            }

            .active {
                background: linear-gradient(90deg, rgba(0, 0, 0, .0001), rgba(0, 0, 0, .3));
            }
        }
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }

    .owl-dots {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 15px !important;
        padding: 2px !important;

        .owl-dot {
            width: 9px !important;
            height: 9px !important;
            background: transparent;
            border: 1px solid #cfcfd6 !important;
            border-radius: 10px;

            &:not(:last-child) {
                margin-right: 3px;
            }

            &:focus,
            &:hover,
            &:active {
                outline: 0 !important;
            }
        }

        .active {
            background: transparent !important;
            border: 1px solid $primary-color !important;
        }
    }

    .item-offer {
        min-width: auto;
        width: 265px;
        height: 350px;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;

        img {
            height: 100%;
        }
    }
}

.sidebar-offers {

    @include media-breakpoint-down(sm) {
        margin: 0 -15px;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        margin: 8px 0;
        padding: 0 14px;

        @include media-breakpoint-down(sm) {
            font-size: 14px;
        }
    }

    .item-offer {
        font-size: 12px;

        .img-holder {
            height: 75px;
            padding: 10px;
        }

        .column-holder {
            justify-content: flex-end;
        }

        .time {
            font-size: 10px;
            font-weight: 500;

            .icon {
                font-size: 13px;
                margin: 0 0 0 5px;
            }
        }

        .offer-code {
            color: black;
        }

        .item-bottom {

            .tags-holder {

                &:first-child {
                    margin: 0 0 3px;
                }
            }
        }
    }
}

.modal-open,
.modal {
    padding-right: 0 !important;
}

.deal-modal {

    .modal-dialog {
        max-width: 290px;
    }

    .modal-body {
        text-align: center;
        font-weight: 500;
        padding: 28px 20px 15px;
    }

    p {
        margin: 0 0 12px;
    }

    .title {
        font-weight: 700;
        margin: 0 0 23px;
        letter-spacing: -.05em;
    }

    .form-group {
        margin: 0 0 25px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 15px;
        }

        .ajax-loader {
            display: none;
        }
    }

    .btn {
        padding: 9px 5px;
    }
}

.categories-list {

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .custom-col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .main-title {
        font-weight: 700;
        font-size: 15px;
        margin: 0 0 20px;
    }

    .item {
        display: block;
        box-shadow: 0 1px 4px rgba(35,31,32,.25);
        border-radius: 6px;
        color: $dark-400;
        overflow: hidden;
        transition: box-shadow .15s;

        &:hover {
            text-decoration: none;
            box-shadow: 0 1px 15px rgba(35,31,32,.25);

            .title {
                color: $dark-400;
            }
        }

        .image-block {
            padding-bottom: 41%;
            background-size: cover;
            background-position: 50%;
        }

        .title-holder {
            padding: 15px 10px;
            text-align: center;
        }

        .title {
            color: $primary-color;
            font-size: 15px;
            font-weight: 700;
        }

        .count {
            font-size: 10px;
        }
    }
}

.modal-backdrop {
    background: none;
}