//Main configs
html {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
}

body {
    position: relative;
    width: 100%;
    min-width: auto;
    min-height: 100%;
    color: $default-text-color;
    font: $default-font-weight normal $default-font-size/$default-line-height $default-font-family;
    background: white;
}
