.row-gap-xl {
    
    @include media-breakpoint-up(md) {
        @include custom-row($row-gap-xl);
    }
}

.row-gap-lg {
    
    @include media-breakpoint-up(md) {
        @include custom-row($row-gap-lg);
    }
}

.row-gap-md {
    
    @include media-breakpoint-up(lg) {
        @include custom-row($row-gap-md);
    }
}

.row-gap-sm {
    @include custom-row($row-gap-sm);
}

.row-gap-xs {
    @include custom-row($row-gap-xs);
}

.container {
    
    @include container($containerWidth, $containerOffsetX, $containerOffsetXTablet, $containerOffsetXMobile);
}

.container-md {
    margin: 0 auto;
    
    @include container($containerWidthMD, $containerOffsetX, $containerOffsetXTablet, $containerOffsetXMobile);
}
