.sidebar-holder {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 161px;
    height: 100%;
    background: $brown;
    color: $light;
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

.logo-holder {

    img {
        width: 100%;
    }
}

.sidebar-header,
.sidebar-footer {
    background: #38383a;
}

.sidebar-header {
    padding: 18px 30px;
    border-bottom: 1px solid $brown-dark;
}

.sidebar-body {
    width: 110%;
    height: 100%;
    border-top: 1px solid $brown-medium;
    overflow: hidden;
    overflow-y: auto;

    ul {
        font-size: 14px;

        li {

            &:last-child {
                margin-bottom: 50px;
            }

            &:hover {

                a {
                    color: #fff;
                }
            }

            a {
                padding: 10px 15px;
                color: #d1d4db;
            }

            &.active {

                a {
                    color: #fff;
                }
            }
        }
    }
}

.sidebar-user-info {
    padding: 20px 10px;
    border-top: 1px solid $brown-medium;
    border-bottom: 1px solid $brown-dark;
}

.user-logo-holder {

    .logout-link,
    .title-progress {
        font-size: em(11);
    }

    .btn {
        margin-bottom: 10px;
    }

    a {
        color: $light;
    }

    .user-logo {
        margin-bottom: 5px;
    }

    span {
        margin-bottom: 15px;
    }
}

.sidebar-footer {
    padding: 18px 10px;
}
