$step: 1;  // step of % for created classes
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);

.progress-radial {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $light;
}

.radial-inner-bg {
    border-radius: 50%;
    width: 55px;
    height: 55px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $light;
    overflow: hidden;

    img {
        width: 100%;
    }
}

@for $i from 0 through $loops {

    .progress-#{$i*$step} {
        @if $i < 50 {
            $nextdeg: 90deg - ( $increment * $i );
            background-image: linear-gradient(90deg, transparent 50%, $light 50%), linear-gradient($nextdeg,  $light 50%, $primary-color 50%);
        }
        @else {
            $nextdeg: -90deg - ( $increment * ( $i - $half ) );
            background-image: linear-gradient($nextdeg, transparent 50%, $primary-color 50%), linear-gradient(270deg, $light 50%, $primary-color 50%);
        }
    }
}
