.single-offers {

    .item-offer {
        border: 0;
    }

    .custom-row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .custom-col {
        padding-left: 7px;
        padding-right: 7px;
    }

    .sort-block {
        display: none;
    }

    .back-btn-holder {
        margin: 0 0 20px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 10px;
        }

        a {
            font-weight: 500;
            color: $primary-color;
            display: inline-flex;
            align-items: center;

            &:hover {
                text-decoration: none;
                opacity: .7;
            }

            &:before {
                content: '';
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-top-width: 6px;
                border-bottom-width: 6px;
                border-right: 6px solid $primary-color;
                display: block;
                margin-right: 10px;
            }
        }
    }
}

.single-offer-block {

    &.item-offer {
        position: relative;
        height: auto;
        box-shadow: 0 1px 4px rgba(black, .16);
        padding: 30px 48px;
        margin: 0 0 15px;

        @include media-breakpoint-down(sm) {
            padding: 15px;
        }

        .top-block {
            margin: 0 0 38px;

            @include media-breakpoint-down(sm) {
                margin: 0 0 10px;
            }
        }

        .column-holder {
            justify-content: flex-end;
        }

        .time {
            font-size: 17px;
            margin: 0 0 20px;
            font-weight: 500;

            @include media-breakpoint-down(sm) {
                font-size: 13px;
                margin: 0 0 12px;
            }
        }

        .item-body {
            font-size: 16px;
            line-height: 1.5;
            word-break: break-all;

            @include media-breakpoint-down(sm) {
                font-size: 12px;
            }

            a {
                color: $primary-color;
            }
        }

        .img-holder {
            width: 245px;
            height: 160px;
            padding: 20px 0;

            @include media-breakpoint-down(sm) {
                margin: 0 0 20px;
                width: 100%;
                height: 190px;
            }
        }

        .item-title {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 8px;

            @include media-breakpoint-down(sm) {
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 5px;
            }
        }

        .text {
            color: #000;
            font-size: 14px;
            line-height: 1.57;
        }

        strong {
            font-weight: 700;
        }

        .btn-holder {

            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
    }
}