//Main theme colors
$primary-color: #1190d6;
$secondary-color: #fff;
$success-color: #8fc73e;
$info-color: #17a2b8;
$warning-color: #ff4222;
$danger-color: #dd2b4a;
$light: #fff;
$dark-100: #999;
$dark-300: #666;
$dark-400: #333;
$dark-500: #1e1e1e;
$dark-600: #f6f6f9;
$dark-700: #000;
$border-color: #cecece;
$brown: #404143;
$brown-medium: #525456;
$brown-dark: #323335;
$grey-100: #d0d0d0;
$grey-200: #ececec;
$grey-400: #f5f5f5;
$grey-500: #999;
$grey-600: #6f6f6f;

$ui-icons: (
    home: url($path-images + 'icons/icon-home.svg') center no-repeat / contain,
    careers: url($path-images + 'icons/icon-careers.svg') center no-repeat / contain,
    marketplace: url($path-images + 'icons/icon-marketplace.svg') center no-repeat / contain,
    directory: url($path-images + 'icons/icon-directory.svg') center no-repeat / contain,
    groups: url($path-images + 'icons/icon-groups.svg') center no-repeat / contain,
    events: url($path-images + 'icons/icon-events.svg') center no-repeat / contain,
);

$ui-icons-hover: (
    home: url($path-images + 'icons/icon-home-hover.svg') center no-repeat / contain,
    careers: url($path-images + 'icons/icon-careers-hover.svg') center no-repeat / contain,
    marketplace: url($path-images + 'icons/icon-marketplace-hover.svg') center no-repeat / contain,
    directory: url($path-images + 'icons/icon-directory-hover.svg') center no-repeat / contain,
    groups: url($path-images + 'icons/icon-groups-hover.svg') center no-repeat / contain,
    events: url($path-images + 'icons/icon-events-hover.svg') center no-repeat / contain,
);

$ui-colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    success: $success-color,
    info: $info-color,
    warning: $warning-color,
    danger: $danger-color,
    dark-100: $dark-100,
    dark-300: $dark-300,
    dark-400: $dark-400,
    dark-500: $dark-500,
    dark-600: $dark-600,
    dark-700: $dark-700,
    grey-100: $grey-100,
    grey-200: $grey-200,
    grey-400: $grey-400,
    light-100: $light
);

$section-bg: (
    body: $secondary-color,
    wrapper: transparent,
    header: transparent,
    jumbo: transparent,
    cards: transparent,
    news: transparent,
    careers: transparent,
    stories: transparent,
    quote: transparent,
    footer: transparent
);

//Fonts colors
$color-secondary: $secondary-color !default;
$color-inverse: $dark-700 !default;

$default-text-color: $dark-400;
$text-color: $dark-300;
$section-title-color: $secondary-color;

$hamburger-color: $danger-color;

//Brand socials colors
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$linkedin-color: #0077b5;
$google-color: #ea4335;
$envelope-color: #5d5f5f;

//Background classes
@each $color, $value in $ui-colors {

    .bg-#{$color} {
        background: $value;

        &:focus {
            background: $value;
        }
    }
}

//Buttons variants
@each $color, $value in $ui-colors {

    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

//Section backgrounds classes
@each $name, $value in $section-bg {

    .bg-#{$name} {
        background: $value;
    }
}

//Font color classes
@each $color, $value in $ui-colors {

    .color-#{$color} {
        color: $value;
    }
}

//Icons iterator
@each $icon, $value in $ui-icons {

    .icon {
        position: relative;
        margin-top: 75px;

        &.icon-#{$icon} {
            
            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                top: -40px;
                left: 50%;
                transform: translateX(-50%);
                background: $value;
            }
        }
    }
}

//Active/hover states for menu items
@each $icon, $value in $ui-icons-hover {

    li {

        &.active {
            
            &.icon {

                &.icon-#{$icon} {
                    
                    &:before {
                        background: $value;
                    }
                }
            }
        }

        &:hover {

            .icon {

                &.icon-#{$icon} {
                    
                    &:before {
                        background: $value;
                    }
                }
            }
        }
    }
}

//Classes of padding and margins
@for $i from 0 through 300 {
    
    .m-t-#{$i} {
        margin-top: $i * 1px !important;
    }

    .m-r-#{$i} {
        margin-right: $i * 1px !important;
    }

    .m-b-#{$i} {
        margin-bottom: $i * 1px !important;
    }

    .m-l-#{$i} {
        margin-left: $i * 1px !important;
    }

    .m-#{$i} {
        margin: $i * 1px !important;
    }

    .p-t-#{$i} {
        padding-top: $i * 1px !important;
    }

    .p-r-#{$i} {
        padding-right: $i * 1px !important;
    }

    .p-b-#{$i} {
        padding-bottom: $i * 1px !important;
    }

    .p-l-#{$i} {
        padding-left: $i * 1px !important;
    }

    .p-#{$i} {
        padding: $i * 1px !important;
    }
}

//Classes of widths
@for $i from 0 through 100 {

    .w-#{$i} {
        width: $i * 1% !important;
    }
}
