//Fonts routes
$path-fonts: '../fonts/';
$path-images: '../../images/';

//Variables
$default-row-gap: -15px;
$row-gap: 30px;
$row-gap-xl: 100px;
$row-gap-lg: 80px;
$row-gap-md: 60px;
$row-gap-sm: 20px;
$row-gap-xs: 15px;
$default-col-gap: 15px;
$col-gap: 30px;

$brand-inner-gap: 25px;
$brand-border-radius: 8px;

//fonts
$font: 'Open Sans';
$benton-sans: 'BentonSans';
$icomoon: 'icomoon';

$default-font-family: $benton-sans, sans-serif;

$default-font-size: 13px;
$default-font-weight: 400;
$default-line-height: 1;

$brand-letter-space: -.02em;

//Pics
$jumbo: url($path-images + 'jumbo.jpg');

//Container
$containerOffsetX: 35px;
$containerOffsetXTablet: 25px;
$containerOffsetXMobile: 15px;
$containerWidth: 1180px;
$containerWidthMD: 1370px;

//Extend
%pseudos {
    position: absolute;
    display: block;
    content: '';
}

%marginCenter {
    margin: 0 auto;
    left: 0;
    right: 0;
}

%absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%absCenterY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%absCenterX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
