.page-template-template-add-listings {
    background: white;

    .filter-bar-holder {

        .sort-block {
            display: none;
        }
    }

    .add-listing-form {
        max-width: 390px;
        margin: 0 auto;

        .form-title {
            font-weight: 700;
            margin: 0 0 23px;
            letter-spacing: -.04em;
            font-size: 23px;
            text-align: center;
        }

        label {
            font-weight: 700;
            margin: 0 0 5px;
        }

        .form-group {
            margin-bottom: 12px;
        }

        .form-control {
            border-color: #b1b1b3;
            height: 34px;
        }

        .btn-holder {
            text-align: center;
            padding-top: 12px;

            .btn {
                font-size: 15px;
            }
        }

        .ajax-loader {
            display: none;
        }
    }
}

div.wpcf7-response-output {
    border: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

div.wpcf7-validation-errors {
    color: $warning-color;
}

div.wpcf7-mail-sent-ok {
    color: $primary-color;
}

span.wpcf7-not-valid-tip {
    padding-top: 5px;
    font-size: 12px;
}

.page-template-template-thank-you {
    background: white;

    .filter-bar-holder {

        .sort-block {
            display: none;
        }
    }

    .thank-you-block {
        text-align: center;
        font-weight: 700;
        padding-top: 53px;

        .icon-holder {
            margin: 0 0 11px;

            .icon {
                font-size: 72px;
                color: #53dc0e;
            }
        }

        .title {
            margin: 0 0 33px;
            font-weight: 700;
            font-size: 22px;
        }

        .text {
            margin: 0 0 64px;
            font-size: 16px;
            line-height: 1.3;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
                margin: 0 0 55px;
            }
        }
        
        .btn-holder {

            .btn {
                font-size: 15px;
            }
        }
    }
}