.page-template-template-search,
.search-no-results {

    .filter-bar-holder {

        .sort-block {
            display: none;
        }
    }

}
.search-main-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
}

.search-form-block {
    position: relative;
    margin: 5px 0 15px;

    .form-control {
        padding: 5px 15px 5px 40px;
        width: 100%;

        @include placeholder {
            font-weight: 500;
            color: #b1b1b3;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .btn-search {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 19px;
        padding: 8px;
        border: none;
        background: none;
        color: #b1b1b3;
        cursor: pointer;
    }
}

.search-no-results {

    .offers-list {
        text-align: center;
        padding-top: 100px;

        .row {
            display: block;
        }

        .title {
            font-size: 22px;
            font-weight: 700;
            margin: 0 0 35px;
        }

        .text {
            font-weight: 700;
            line-height: 1.4;
        }
    }
}

.search-history-block-holder {
    position: relative;
    display: none;

    &.show {
        display: block;
    }

    .search-history-block {
        padding: 25px 50px;
        position: absolute;
        top: 0px;
        left: -2px;
        right: -2px;
        background: white;
        z-index: 5;

        @include media-breakpoint-down(sm) {
            padding: 15px;
        }

        .title {
            color: #b1b1b3;
            font-weight: 700;
            font-size: 14px;
            display: block;
            margin: 0 0 30px;

            @include media-breakpoint-down(sm) {
                margin: 0 0 20px;
            }
        }

        ul {

            li {
                margin: 0 0 22px;

                @include media-breakpoint-down(sm) {
                    margin: 0 0 15px;
                }
            }

            a {
                color: black;
                font-size: 16px;
                font-weight: 700;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .btn-search-close {
            position: absolute;
            top: 20px;
            right: 50px;
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            color: #b1b1b3;
            font-size: 20px;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                top: 15px;
                right: 15px;
            }

            &:hover {
                opacity: .7;
            }

            &:focus {
                outline: none;
            }
        }
    }
}